body
{
  
  background-color: black;
  
}



.nav_styles
{
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}


.active 
{
  color: white;
  text-decoration: none;
}

.default_style
{
  text-decoration: none;
  color: greenyellow;
}

.nav_bar_h1
{
 
  font-family: Montserrat;
  color: greenyellow;
  padding-right: 50%;
  font-size: x-large;


}

@import url('https://fonts.googleapis.com/css?family=Montserrat');



.home_first_h1
{
  color: white;
  font-size: 300%;
  padding-left: 20%;
  padding-top: 15%;

  animation-name: sLideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.home_second_h1
{
  color: white;
  font-size: 600%;  
  padding-left: 20%;
  padding-top: 1%;

  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: greenyellow;
  
  animation-name: sLideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

}

.home_third_h1
{
  color: white;
  font-size: 300%;
  padding-left: 20%;
  padding-top: 1%;

  animation-name: sLideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}


@keyframes sLideInLeft 
{
  from
  {
    transform: translateX(-300px);
  }

  to
  {
    transform: translateX(0);
  }
}


.img_for_profile
{
  width: 50%;
  height: 40%;
  padding-top: 5%;
  padding-left: 10%;
}



.home_page_div
{
  display: flex;
}


.about_h1
{
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-align: center;
  padding-top: 5%;
  color: white;
  font-size: 400%;
}

.about_p
{
  color: white;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;

}



